body {
  background-color: rgb(95, 7, 7);
}
#root {
  color: rgb(29, 13, 170);
}
.episode {
  background-color: rgb(218, 163, 138);
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: black;
  border-radius: 5px;
  width: 30%;
  min-width: 400px;
  /* text-justify: inter-word; */
}
.episodeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
p {
  text-align: justify;
  width: 350px;
  font-family: sans-serif;
  margin: 0 auto;
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
  /* word-wrap: break-word; */
}
.image {
  border: 5px solid rgb(19, 18, 18);
  border-radius: 8px;
  width: 300px;
}
#episode-list {
  margin-left: 10px;
  width: 250px;
  color: black;
}
#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  color: black;
}
#display {
  width: 200px;
  margin-left: 10px;
  background-color: blanchedalmond;
}
#homebtn {
  margin-left: 10px;
}
#show-list {
  margin-left: 10px;
  width: 250px;
  color: black;
}
#site-search {
  margin-left: 10px;
  width: 250px;
  color: black;
}
